* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #fff;
}
img {
  width: 100%;
}
.fixedTop {
  position: fixed;
  z-index: 999;
  width: 7.71875rem;
  margin-top: 0.046875rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(../img/page1-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
